name: Python package

on: 
  pull_request:
  push:
    branches:
      - master
      - docs
      - joss-paper
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U pytest pytest-cov pytest-xdist codecov
          python -m pip install -U -r requirements.txt 
      - name: Run tests
        run: python -m pytest --cov=riccati --cov-report=xml
      - name: Combine and upload coverage
        uses: codecov/codecov-action@v3
        with:
          verbose: true
  
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with: 
          fetch-depth: 0
      - uses: actions/setup-python@v4
        name: Install Python
        with:
          python-version: "3.9"
      - name: Build sdist and wheel
        run: |
          python -m pip install -U pip
          python -m pip install -U build
          python -m build .
      - uses: actions/upload-artifact@v3
        with: 
          path: dist/*

  upload_pypi:
    needs: [tests, build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}

  paper:
    runs-on: ubuntu-latest
    name: JOSS paper draft
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build draft pdf
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          paper-path: joss-paper/paper.md
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: paper
          path: joss-paper/paper.pdf
